@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: #fff;
    border-bottom: 1px solid #c8c8c8;
}

.nav a {
    color: #555;
}

    .nav a:hover {
        color: #0094ff;
    }

.nav > li > a:hover {
    background: transparent;
}

.body-content {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .navbar-brand {
        padding: 5px;
    }

    .navbar-nav > li > a {
        margin-top: 5px;
        max-height: 50px;
    }
}
